name: CI

on:
  push:
    branches:
      - main
  pull_request:

env:
  UV_VERSION: 0.9.17
  UV_NO_SYNC: 1
  UV_LOCKED: 1

jobs:
  ci:
    if: github.repository == 'CoderJoshDK/bump-ghw'
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
        with:
          persist-credentials: false
      - name: Setup uv
        uses: astral-sh/setup-uv@ed21f2f24f8dd64503750218de024bcf64c7250a  # v7.1.5
        with:
          version: ${{ env.UV_VERSION }}

      - name: Environment
        id: sync
        run: uv sync

      - name: taplo (TOML formatting)
        if: ${{ !cancelled() && steps.sync.conclusion == 'success' }}
        run: uv run taplo fmt --check --diff pyproject.toml

      - name: ruff format
        if: ${{ !cancelled() && steps.sync.conclusion == 'success' }}
        run: uv run ruff format --diff

      - name: ruff lint
        if: ${{ !cancelled() && steps.sync.conclusion == 'success' }}
        run: uv run ruff check --output-format github

      - name: pytest
        if: ${{ !cancelled() && steps.sync.conclusion == 'success' }}
        run: uv run pytest -vv

      - name: basedpyright
        if: ${{ !cancelled() && steps.sync.conclusion == 'success' }}
        run: uv run basedpyright
